In [5]:
#import dependencies
import pandas as pd

In [8]:
#List of High schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

school_series = pd.Series(high_schools)
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [9]:
high_school_types = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_types)
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
#Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ['Huang High School', 'Figeroa High School', 'Shelton High School', 'Hernandez High School', 'Giffin High School']

type_of_school = ['District', 'District', 'Charter', 'District', 'Charter']

In [11]:
#initialize a new DataFrame
schools_df = pd.DataFrame()

In [12]:
schools_df['School ID'] = school_id
schools_df['School Name'] = school_name
schools_df['School Type'] = type_of_school

In [13]:
print(schools_df)

   School ID            School Name School Type
0          0      Huang High School    District
1          1    Figeroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4     Giffin High School     Charter

In [15]:
#or create a dictionary of the information on high school
high_schools_dicts = {'School ID': school_id, 'School Name': school_name, 'School Type': type_of_school}
schools_dict_df = pd.DataFrame(high_schools_dicts)
print(schools_df)

   School ID            School Name School Type
0          0      Huang High School    District
1          1    Figeroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4     Giffin High School     Charter

In [19]:
#column headers of a dataframe
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [20]:
#indexes of a dataframe
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
#values of a dataframe
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figeroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Giffin High School', 'Charter']], dtype=object)