In [2]:
#import dependencies
import pandas as pd

In [3]:
#Files to load
school_data_to_load = "Resources\\schools_complete.csv"
student_data_to_load = "Resources\\students_complete.csv"

In [4]:
#Read school data File and store in a pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
print(school_data_df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
#Read Student 
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
student_data_df.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [7]:
#find any missing values in data using count
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
#Find any missing values using count
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [9]:
#Find any missing values using isnull
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [10]:
#Find any missing values using notnull
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [11]:
#Determine data types for the school DataFrame
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [12]:
#Determine the data type for budget column
school_data_df.budget.dtype

dtype('int64')

In [13]:
#Determine data types for the student DataFrame
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [14]:
#When cleaning data, create a new notebook to test
#Create a list of prefixes and suffixes to remove
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [15]:
#Convert student_name from 'object' data type to 'string' data type and replace prefixes and suffixes
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'', regex=True)

student_data_df = student_data_df

In [16]:
#Combine data into a single dataset, school_name being the column shared by both datasets
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
#Get the total number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

39170

In [18]:
#Calculate the total number of schools using school_data_df
school_count = school_data_df["school_name"].count()
school_count

15

In [19]:
#Or calculate the total number of schools using school_data_complete_df
school_count_2 = school_data_df['school_name'].unique()
len(school_count_2)

15

In [20]:
#Calculate the total district budgtet using school_data_df
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [21]:
#Calculate the average reading score
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [22]:
#Calculate the average math score
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [23]:
#1. To get the percentage of students who passed math and reading

    #Determine the passing grade
    
passing_math = school_data_complete_df['math_score']>= 70
passing_reading = school_data_complete_df['reading_score']>= 70

In [24]:
#Get the number of students who passed math and reading in separate DataFrames

passing_math = school_data_complete_df[school_data_complete_df['math_score']>= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [25]:
#Get the number of students who reading in separate DataFrames
passing_reading = school_data_complete_df[school_data_complete_df['reading_score']>= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [26]:
#Calculate the number of students who passed math 
    
passing_math_count = passing_math['student_name'].count()
passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [27]:
#Calculate the number of students who passed reading
passing_reading_count = passing_reading['student_name'].count()
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [28]:
#Calculate the percentage of students who passed math 
passing_math_percentage = passing_math_count/float(student_count)*100
passing_math_percentage

74.9808526933878

In [29]:
#Calculate the percentage of students who passed reading
passing_reading_percentage = passing_reading_count/float(student_count)*100
passing_reading_percentage

85.80546336482001

In [30]:
#2. To get the overall passing percentage, we will write code to:

    #Get the number of students who passed both math and reading in a DataFrame
    
passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>= 70) & (school_data_complete_df['reading_score']>= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [31]:
#Calculate the number of students who passed both math and reading
    
overall_passing_math_reading_count = passing_math_reading['student_name'].count()
overall_passing_math_reading_count

25528

In [32]:
#Calculate the percentage of students who passed both math and reading
overall_passing_percentage = overall_passing_math_reading_count/student_count*100
overall_passing_percentage

65.17232575950983

In [33]:
#add found values to new DataFrame: Total Schools, Total Students, Total Budget, Average Reading Score, Average Math Score, 
#% Passing Reading, % Passing Math, % Overall Passing

district_summary_df = pd.DataFrame([{'Total Schools': school_count, 'Total Students': student_count, 
                                     'Total Budget': total_budget, 'Average Math Score': average_math_score, 
                                     'Average Reading Score': average_reading_score, '% Passing Math': 
                                     passing_math_percentage, '% Passing Reading': passing_reading_percentage, 
                                    '% Overall Passing': overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [34]:
#Format the new DataFrame using map() and format function
#Format columns

district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)

district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,.2f}'.format)

district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.1f}'.format)

district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.1f}'.format)

district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.0f}%'.format)

district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.0f}%'.format)

district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map('{:.0f}%'.format)

In [35]:
#Display DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [96]:
#3 Setting indexes and collecting summary by school

#Determine the school type
per_school_types = school_data_df.set_index(['school_name'])['type']
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [126]:
#Add the per_school_types into a DataFrame for testing
df = pd.DataFrame(per_school_types)
len(df)

15

In [127]:
#Calculate the total student count using school_data_df
per_school_counts = school_data_df.set_index(['school_name'])['size']
len(per_school_counts)

15

In [128]:
#Calculate the total student count using school_data_complete_df
per_school_counts = school_data_complete_df['school_name'].value_counts()
len(per_school_counts)

15

In [129]:
#Get the budget for each school with school name set as index
per_school_budget = school_data_df.set_index(['school_name'])['budget']

len(per_school_budget)

15

In [130]:
#Calculate the per capita spending
per_school_capita = per_school_budget/per_school_counts

len(per_school_capita)

15

In [131]:
student_school_math = student_data_df.set_index(['school_name'])['math_score']

len(student_school_math)

39170

In [132]:
per_school_averages = school_data_complete_df.groupby(['school_name']).mean()

len(per_school_averages)

15

In [133]:
#Calculate average math scores for each school using groupby()
per_school_math = school_data_complete_df.groupby(['school_name']).mean()['math_score']

len(per_school_math)

15

In [134]:
#Calculate average reading scores for each school using groupby()
per_school_reading = school_data_complete_df.groupby(['school_name']).mean()['reading_score']

len(per_school_reading)

15

In [135]:
#4 Calculate the passing percentage, by:

#a. Determine what is the passing grade

per_school_passing_math = school_data_complete_df[(school_data_complete_df['math_score']>= 70)]


#b. Get the number of students who passed math 

per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']

len(per_school_passing_math)

15

In [136]:
#b. Get the number of students who passed reading 

per_school_passing_reading = school_data_complete_df[(school_data_complete_df['reading_score']>= 70)]

per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']

len(per_school_passing_reading)

15

In [137]:
#Calculate the percentage of passing math scores per school
per_school_passing_math = per_school_passing_math/per_school_counts*100

len(per_school_passing_math)

15

In [138]:
#Calculate the percentage of passing reading scores per school
per_school_passing_reading = per_school_passing_reading/per_school_counts*100

len(per_school_passing_reading)

15

In [139]:
#c. Get the students who passed math and passed reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df['math_score']>= 70) & (school_data_complete_df['reading_score']>= 70)]

per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

len(per_passing_math_reading)

15

In [179]:
#Calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading/per_school_counts*100

len(per_overall_passing_percentage)

15

In [180]:
per_school_budget = pd.to_numeric(per_school_budget)
per_school_budget.dtypes

dtype('int64')

In [181]:
per_school_capita = pd.to_numeric(per_school_capita)
per_school_capita.dtypes

dtype('float64')

In [182]:
#add found values to create a new DataFrame: Total Schools, Total Students, Total Budget, Average Reading Score, Average Math Score, 
#% Passing Reading, % Passing Math, % Overall Passing
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [183]:
per_school_summary_df.dtypes

School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [184]:
#Format the new DataFrame using map() and format function
#Format columns

per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)

per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary_df['% Passing Math'] = per_school_summary_df['% Passing Math'].map('{:.0f}%'.format)

per_school_summary_df['% Passing Reading'] = per_school_summary_df['% Passing Reading'].map('{:.0f}%'.format)

per_school_summary_df['% Overall Passing'] = per_school_summary_df['% Overall Passing'].map('{:.0f}%'.format)

per_school_summary_df['Average Math Score'] = per_school_summary_df['Average Math Score'].map('{:.1f}'.format)

per_school_summary_df['Average Reading Score'] = per_school_summary_df['Average Reading Score'].map('{:.1f}'.format)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0,81.0,67%,82%,55%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1,84.0,94%,97%,91%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7,81.2,66%,81%,53%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1,80.7,68%,79%,54%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4,83.8,93%,97%,91%

In [185]:
#Sort and show top five schools
top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1,84.0,94%,97%,91%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4,83.8,93%,97%,91%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95%,96%,91%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4,83.8,93%,97%,91%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3,84.0,94%,97%,91%

In [188]:
#Sort and show lowest five schools
bottom_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7,81.2,66%,81%,53%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8,80.7,66%,80%,53%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1,80.7,68%,79%,54%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3,80.9,67%,81%,54%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6,81.2,66%,81%,54%

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

SyntaxError: invalid syntax (<ipython-input-61-b9ca6b271559>, line 1)

SyntaxError: invalid syntax (<ipython-input-62-420027c0f8e4>, line 1)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64